name: CMake Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Make GCC 14 the default toolchain (Linux)
      run: |
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 200
        sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 200

    - name: Install dependencies
      run: sudo apt-get install -y cmake ninja-build libopencv-calib3d-dev

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -G Ninja

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
